node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
yarn.lock

# macOS
.DS_Store

coverage/

# Mobile builds
android
ios

# Eas submit key for submitting to store
play-console-account-key.json
